.footer {
    background-color: var(--footer-color);
    height: 90px;
    padding: 40px 7% 0 7%;
    //color: #757575;
    font-size: 16px;
    bottom: 0;
    border-top: 1px solid #777773;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
    .container {
        max-width: 1040px;
        margin: 0 auto;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        @include _600 {
            justify-content: center;
        }
    }
    &__menu {
        display: flex;
        @include _600 {
            display: none;
        }
        ul {
            display: flex;
            list-style-type: none;
        }
        &__item {
            display: flex;
            margin-right: 10px !important;   
        }
    }
    a {
        list-style-type: none; 
        margin-right: 20px !important; 
        text-decoration: none;
        cursor: pointer;
        color: var(--footer-a-color);
    }
}
 

 
.footer .left {
    float: left !important;
  }
  
.footer .gradient-white {
    position: absolute;
    width: 100%;
    height: 50px;
    top: -50px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0);
    background-image: -moz-linear-gradient(center bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
} 
  

a:hover,
a:active {
    color: var(--link-color);
	transition: all 1.3s;
} 




.btn-up {
    position: fixed;
    background-color: rgba(199, 199, 199, 0.26);
    right: 30px;
    bottom: 18px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    //box-shadow: 0px 0px 13px -1px rgb(197, 196, 197);
    transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
    color: #757571;
    width: 50px;
    height: 50px;
    opacity: 1;
    transform: translateY(0);
    @include _480 {
        right: 10px;
    }
  }

  .btn-up_hide {
        display: none;
  }

  .btn-up_hiding {
        opacity: 0;
        transform: translateY(100px);
  }

  .btn-up-icon {
        width: 40px;
        height: 40px;
        fill: currentcolor;
  }

  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        color: var(--upColorHover);
        transition: all .5s;
    }
  }

