.portfolio {
    background-color: var(--background-color);
    padding: 140px 15px 100px 15px;
    border-bottom: 1px solid #77777354;
    -webkit-box-shadow: 0px 41px 38px 11px rgba(224, 224, 224, 0.42);
    -moz-box-shadow: 0px 41px 38px 11px rgba(224, 224, 224, 0.42);
    box-shadow: 0px 41px 38px 11px rgba(224, 224, 224, 0.42);
    .container {
        max-width: 1040px;
        margin: 0 auto;
        @include _1270 {
            max-width: 1045px;
        }
        @include _1170 {
            max-width: 850px;
        }
        @include _979 {
            max-width: 705px;
        }
        @include _767 {
            max-width: 550px;
        }
        @include _600 {
            max-width: 445px;
        }
        @include _480 {
            max-width: 325px;
        }
        .titles {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
        }
        
    }
    &__wrapper {
        margin: 60px 10px 0 10px;
        display: grid;
        grid-template: repeat(2, 250px) / repeat(4, 250px);
        grid-auto-rows: 250px;
        gap: 10px;
        @include _1270 {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
        }
        @include _480 {
            margin-top: 50px;
            row-gap: 20px;
        }
        @include _350 {
            padding-bottom: 30px;
        }
       
        .vertical {
            grid-row: 1 / 3;
            grid-column: 4 / 5;
            @include _1270 {
                grid-row: unset;
                grid-column: unset;
            }    
        }
        .horizontal {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
            @include _1270 {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    &__item { 
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(70%);
            &:hover {
                transform: scale(1.02) ;
                transition: all 0.5s;
                filter: none;
            }
            
        }
    }
    .title {
        font-size: 36px;
        font-weight: 900;
        line-height: 48px; 
        &_fz24 {
            font-size: 24px;
            font-weight: 300;
        }
    }
} 
    
    .title {
        font-size: 36px;
        font-weight: 900;
        line-height: 48px;
        &_fz34 {
            font-size: 34px;
            font-weight: 700; 
        }
        &_fz24 {
            font-size: 24px;
            font-weight: 400;
        }
        &_fz16 {
            font-style: 16px;
            font-weight: 400;
        }
        &_fz14 {
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            //position: relative;
        }
        &_fz20 {
        font-size: 20px; 
        
        }
    }