.slider {
    background-color: var(--background-color);
	padding: 50px;
	padding-top: 70px;
	padding-bottom: 100px;
	min-height: 90vh;
	border-bottom: 1px solid #77777354;
    -moz-box-shadow: 0px 41px 38px 11px rgba(224, 224, 224, 0.42);
    box-shadow: 0px 41px 38px 11px rgba(224, 224, 224, 0.42);
	@include _979 {
		padding-bottom: 20%;	
	}
	@include _767 {
		padding-bottom: 25%;
		padding-left: 30px;
		padding-right: 30px;
	}
	@include _600 {
		height: 71rem;
	}
	@include _480 {
		padding-bottom: 45%;
		padding-left: 15px;
		padding-right: 15px;
		height: 73rem;
	}
	@include _400 {
		height: 80rem;
	}
	
    .container {
      	max-width: 1040px;
      	margin: 0 auto;
		height: 930px;
		//position: relative;
		//padding-bottom: 50px;
		// .divider {
        //     height: 2px;
        //     width: 80%;
        //     background-color: #777773;
        //     margin: 0 auto 140px auto;
        // }
		.swiper-button-prev::after,
		.swiper-button-next::after {
			display: none;
		}
		.swiper-button-prev,
		.swiper-button-next {
			position: static;
			background-color: var(--swiper-arrow-hov);
			color: var(--swiper-arrow);
			width: 40px;
			height: 40px;
			border-radius: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 20px 20px;
			margin-left: 10px;
			opacity: .2;
			transition: color .8s;
			cursor: pointer !important;
			z-index: 9;
			&:hover {
				background-color: #e2e2e0;
				color: var(--swiper-arrow-hov);
				opacity: .8;
				transition: all .5s;	
			}
		}
		.slider-container {
			width: 900px;
			margin: 60px 10px 0 10px;
			margin: 60px auto 0 auto;
			@include _979 {
				width: 100%;
			}
			img {
				width: 100%;
				max-height: 500px;
				object-fit: cover;
			}
		}
		.title_fz36 {
			font-size: 36px;
			font-weight: 900;
			margin-bottom: 50px;
		}
    }
	&__descr {
		font-size: 19px;
    	text-align: center;
    	font-weight: 400;
		
	} 	
}


.slider-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.slider-buttons {
	display: flex;
}

// ///////////////////////////

.swiper {
	&-container {
		width: 900px;
		padding-bottom: 50px;
		@include _979 {
			width: 100%;
			//padding-bottom: 15%;
		}
		@include _870 {
			padding-bottom: 5%;
		}
		@include _767 {
			padding-bottom: 0;
		}
		@include _480 {
			padding-bottom: 5%;
		}
		
	}
	&__pag {
		counter-reset: pag;
		//left: calc((100% - 1260px) / 2) !important;
		//bottom: 120px !important;
		display: flex;
		.swiper-pagination-bullet {
			display: flex;
			flex-direction: column;
			border-radius: 0;
			width: 50px;
			height: auto;
			text-align: left;
			background-color: transparent;
			opacity: 1;
			margin: 10px 5px;
			
			&::before {
				content: "0"counter(pag);
				font-weight: 700;
				font-size: 14px;
				line-height: 150%;
				color: var(--swiper-pag);
				transition: color 0.3s ease-in-out;
				counter-increment: pag;
				&:hover {
					background-color: #e2e2e0;
					opacity: .8;
					transition: all .5s;	
				}
			}
			&::after {
				display: none;
			}
	
		//   @include minitablet {
		// 	width: 25%;
		//   }
		}
	
		// @include middledesk {
		//   left: 3% !important;
		// }
	
		// @include minidesk {
		//   left: 15px !important;
		// }
	
		// @include minitablet {
		//   bottom: 50px !important;
		//   width: calc(100% - 30px) !important;
		// }
	
		// @include mobile {
		//   display: none;
		// }
	}
	&__bar {
		position: relative;
		overflow: hidden;
		border-radius: 100px;
		width: 100%;
		height: 2px;
		background-color: var(--swiper-bar);
	
		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: var(--text-color) !important;
			transform: scaleX(0);
			transform-origin: left;
			content: "";
		}
	}
}
.swiper-pagination-bullet-active {
	&::before {
	  	color: var(--text-color) !important;
	}
  
	.swiper__bar {
	  	&::after {
		transform: scaleX(1);
		transition: transform var(--swiper-slider-speed) ease-in-out;
	  	}
	}
}
  





  